/*
* -------- GUYRA.CSS
* --- https://paletton.com/#uid=53m0W0k++++qKZWAF+V+VAFZWqK
* --- https://paletton.com/#uid=53m0W0kwi++bu++hX++++rd++kX
*
*/

:root {
  --guyra-blue: rgba(0, 215, 255, 1);
  --guyra-blue-darker: rgba(0, 147, 174, 1);
  --guyra-blue-darkest: rgba(0, 87, 103, 1);
  --guyra-blue-lighter: rgba(115, 233, 255, 1);
  --guyra-blue-lightest: rgba(166, 241, 255, 1);

  --guyra-purple: rgba(90, 27, 255, 1);
  --guyra-purple-lighter: rgba(162, 127, 255, 1);
  --guyra-purple-darker: rgba(41, 0, 149, 1);
  --guyra-purple-darkest: rgba(32, 0, 114, 1);

  --guyra-green: rgba(154, 255, 0, 1);
  --guyra-green-lighter: rgba(199, 255, 112, 1);
  --guyra-green-lightest: rgba(219, 255, 164, 1);
  --guyra-green-darker: rgba(121, 200, 0, 1);

  --guyra-red: rgba(255, 35, 0, 1);
  --guyra-red-lighter: rgba(255, 131, 112, 1);
  --guyra-red-lightest: rgba(255, 176, 164, 1);
  --guyra-red-darker: rgba(217, 30, 0, 1);

  --guyra-blue-purple-gradient: linear-gradient(90deg, var(--guyra-blue) 0%, var(--guyra-purple) 100%);
  --guyra-blue-purple-gradient-reverse: linear-gradient(210deg, var(--guyra-blue) 0%, var(--guyra-purple) 100%);
  --guyra-blue-transparent-gradient: linear-gradient(90deg, var(--guyra-blue) 0%, rgba(255, 255, 255, 0) 100%);
  --guyra-blue-transparent-gradient-reverse: linear-gradient(210deg, var(--guyra-blue) 0%, rgba(255, 255, 255, 0) 100%);
  --guyra-white-transparent-gradient: linear-gradient(90deg, var(--guyra-white) 0%, rgba(255, 255, 255, 0) 100%);
  --guyra-white-transparent-gradient-reverse: linear-gradient(210deg, var(--guyra-white) 0%, rgba(255, 255, 255, 0) 100%);

  --guyra-white: #ffffff;
  --guyra-grey: #f0f0f0;
  --guyra-grey-dark: #dddddd;
  --guyra-grey-darker: #777777;
  --guyra-grey-darkest: #555555;
  --guyra-black: #444;

  --guyra-box-shadow: 0 0 1.5rem rgba(0,0,0, 0.1);
  --guyra-box-shadow-bigger: 0 0 1.7rem rgba(0,0,0, 0.17);

  --guyra-fonts-text: 'Rubik',var(--bs-font-sans-serif);
  --guyra-fonts-title: 'Campton Black',var(--bs-font-sans-serif);
  --guyra-fonts-textsize-sss: calc(0.45rem + 0.25vw);
  --guyra-fonts-textsize-ss: calc(0.45rem + 0.35vw);
  --guyra-fonts-textsize-s: calc(0.75rem + 0.15vw);
  --guyra-fonts-textsize-n: calc(0.85rem + 0.45vw);
  --guyra-fonts-textsize-x: calc(0.95rem + 0.85vw);
  --guyra-fonts-textsize-xx: calc(1.65rem + 0.95vw);
  --guyra-fonts-textsize-xxx: calc(1.85rem + 1.05vw);
  --guyra-fonts-textsize-super: calc(1.8em + 1.2vw);

  --guyra-navbar-size: 70px;
  --guyra-border-radius: calc(.25rem - 1px);
  --guyra-transition: all 0.15s cubic-bezier(.19,1,.22,1);
}

/*
* -------- Fonts
*
*
*/

@font-face {
    font-family: 'Campton Book';
    src: url('./assets/fonts/campton_book.woff2') format('woff2'),
         url('./assets/fonts/campton_book.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Campton Black';
    src: url('./assets/fonts/campton_black.woff2') format('woff2'),
         url('./assets/fonts/campton_black.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Rubik';
    src: url('./assets/fonts/Rubik-Regular.woff2') format('woff2'),
         url('./assets/fonts/Rubik-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Komika';
    src: url('./assets/fonts/komikask-webfont.woff2') format('woff2'),
         url('./assets/fonts/komikask-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*
* -------- General
*
*
*/

h1 { font-size: var(--guyra-fonts-textsize-xxx); }
h2 { font-size: var(--guyra-fonts-textsize-xx); }
h3 { font-size: var(--guyra-fonts-textsize-x); }

h1, h2, h3, h4, h5 {
	font-family: var(--guyra-fonts-title);
  font-weight: 900;
  letter-spacing: -.05rem;
	cursor: default;
}

p {
  color: var(--guyra-black);
}

.page-squeeze h1 {
  font-size: calc(1.8em + 1.2vw);
  margin: 0;
}

.text-shadow {
  /*text-shadow: -1px 1px var(--guyra-blue-darker), -1px 3px var(--guyra-blue-darker), -2px 4px var(--guyra-blue-darker);*/
  text-shadow: 0px 0px 3px rgba(0,0,0,0.17);
  color: var(--guyra-blue);
}

body,
.page-squeeze .user-registration,
.element-container,
.gradient-button a {
	font-family: var(--guyra-fonts-text);
	font-size: var(--guyra-fonts-textsize-n);
}

body,
.page-squeeze .user-registration,
.element-container {
	background: var(--guyra-white);
	color: var(--guyra-black);
}

body {
	background-color: var(--guyra-grey);
	background-repeat: repeat;
	padding: 0;
	margin: 0;
	background-size: auto;
  background-image: url("./assets/img/bg.png");
}

body.wp-admin {
	font-family: sans-serif;
	background: var(--guyra-white);
	color: var(--guyra-black);
}

.post, .page {
  border: unset;
	box-shadow: unset;
	margin: 0;
}

#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu.sub-open,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
.no-js li.wp-has-current-submenu:hover .wp-submenu { margin-left: 0; }

.page-squeeze,
.navbar,
.page-squeeze hr {
	background: var(--guyra-blue-purple-gradient);
}

hr {
	background-color: var(--guyra-blue);
}

hr.thick {
  height: .25rem;
}

@media (min-width: 766px)  {
  hr.thick {
    width: calc(40vw + 20rem);
    position: relative;
    left: -2vw;
  }
}

.bg-gradient { background: var(--guyra-blue-purple-gradient); }
.bg-gradient-reverse { background: var(--guyra-blue-purple-gradient-reverse); }
.bg-gradient-white { background: var(--guyra-white-transparent-gradient); }
.bg-gradient-white-reverse { background: var(--guyra-white-transparent-gradient-reverse); }

footer .squeeze {
  text-align: left;
  font-size: var(--guyra-fonts-textsize-sss);
  max-width: calc(40vw + 20rem);
  margin: 0 auto;
  padding: calc(3rem + 2vw) 0;
}

footer .squeeze nav .breadcrumb {
  justify-content: center;
  font-size: var(--guyra-fonts-textsize-n);
  margin: 0;
}

footer .squeeze nav a {
  text-decoration: none;
}

.page-squeeze .border,
.page-squeeze .list-group-item,
.page-squeeze textarea,
.page-squeeze hr,
.page-squeeze .comment-content {
	border-width: 1px !important;
}

.page-icon > img {
	width: calc(2.5vh + 4.5vw);
}

img.page-icon.large {
  width: calc(15vw + 5rem);
}

/* what do i do with this */
aside.widget-area,
.logged-in-as,
label[for="comment"],
.page-squeeze .wp-block-separator,
.comment-metadata {
	display: none;
}

.text-muted {
    color: var(--guyra-grey-dark) !important;
}

.vertical-divider {
    border-left: var(--guyra-blue) 2px dashed;
}

*.disabled {
  filter: saturate(0) !important;
}

/*
* -------- Navbar
*
*
*
*/

.navbar > .container {
	background: #fff;
  margin-top: 5px;
  height: var(--guyra-navbar-size);
}

.navbar > .container > div {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 1200px) {

  .navbar > .container {
    display: block;
  }

  .navbar > .container > div {
    width: calc(40vw + 20rem);
    margin: 0 auto;
  }
}

.navbar {
	height: var(--guyra-navbar-size);
	box-shadow: var(--guyra-box-shadow);
}

.navbar-center-title {
	max-width: 5rem;
}

.navbar-profile { width: 32px; }

.navbar .navbar-brand img {
	max-width: 3.5rem;
}

.navbar-toggler {
  padding: .3rem .5rem;
  border: 0;
}

.navbar-toggler:focus {
  box-shadow: unset;
}

.navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba(0, 0, 0, 0.60)' stroke-linecap='flat' stroke-miterlimit='10' stroke-width='3.5' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.dropdown-menu {
  font-size: var(--guyra-fonts-textsize-s);
  padding: 0;
  border-radius: var(--guyra-border-radius);
  min-width: 7vw;
  color: var(--guyra-black);
  background-color: var(--guyra-white);
  border: 1px solid var(--guyra-grey-dark);
}

.dropdown-item {
  padding: var(--guyra-fonts-textsize-sss);
}

/*
* -------- Landing page
*
*
*
*/

.cover {
  height: calc(100vh - var(--guyra-navbar-size));
  margin-top: var(--guyra-navbar-size);
  color: var(--guyra-white);
background: var(--guyra-blue) url(./assets/img/bg3.png);
}

.cover-container {
  background: rgba(0,0,0,0.75);
  color: var(--guyra-white) !important;
}

.cover-container p,
.cover-container h1,
.cover-container h2,
.cover-container h3 {
    color: var(--guyra-white);
}

@media (max-width: 766px) {
	.page-squeeze .page-content,
	.page-squeeze .entry-content,
	.page-squeeze .entry-summary {
		padding: 0.5rem !important; margin: 0;
	}

	.navbar .nav-rightside {
		margin: 0;
		display: block;
	}

	.navbar-nav li {
		margin: 0 0 5px 0 !important;
	}

	.navbar-nav li a {
		width: 100%;
	}

  .navbar-profile {
    width: calc(5rem + 5vw);
    margin: 1rem;
  }

  .navbar .profile-item {
    text-align: center;
  }
}

.container { max-width: none; }

.featurette:hover {
	transition: var(--guyra-transition);
	box-shadow: 0 0 5em rgba(0,0,0,0.5);
	position: relative;
	z-index: 2;
}

.featurette {
	color: var(--guyra-white);
	box-shadow: 0 0 1em rgba(0,0,0, 0.3);
  overflow: hidden;
	position: static;
  min-height: 500px;
}

.featurette h1,
.featurette h2 {
	color: var(--guyra-black);
}

.featurette.row > * {
  padding: 0;
}

.featurette .picture > img {
  width: calc(15vw + 5rem);
  padding: 1rem;
}

.feature1 {
  background: var(--guyra-blue-transparent-gradient), url('./assets/img/feature1.jpg') right no-repeat white;
}

.feature2 {
  background: var(--guyra-blue-transparent-gradient-reverse), url('./assets/img/feature2.jpg') left no-repeat white;
}

.feature3 {
  background: var(--guyra-blue-transparent-gradient), url('./assets/img/feature3.jpg') right no-repeat white;
}

.feature4 {
  background: var(--guyra-blue-purple-gradient-reverse);
}

.course-showcase { width: calc(30rem + 50vw); }

.featurette p {
	font-size: var(--guyra-fonts-textsize-n);
}

.featurette .text-muted {
	color: var(--guyra-grey-darker) !important;
}

@media (min-width: 766px) {
	.squeeze { max-width: calc(40vw + 20rem); margin: calc(3rem + 2vw) auto; }
	.squeeze-big { max-width: 85vw; margin: calc(3rem + 2vw) auto; }
  .page-squeeze .padded-squeeze { padding: calc(3rem + 2vw) calc(17vw + 2rem); }
}

@media (max-width: 766px) {
	.squeeze { max-width: unset; margin: calc(70px + 2vw) auto; }
	.squeeze-big { max-width: unset; margin: 2rem auto; }
}

.prices-container {
	justify-content: center;
  flex-direction: column;
}

.card {
  border-radius: var(--guyra-border-radius);
}

.card-header,
.card-header:first-child {
  border-radius: 0;
  border: 0;
}

.col.prices {
	padding: 0;
  width: auto;
}

.col.prices.primary {
	padding: 0;
	z-index: 2;
}

.col.prices.primary .card-title {
	font-size: calc(var(--guyra-fonts-textsize-xxx) + .5rem);
}

.col.prices.primary:hover {
	box-shadow: var(--guyra-purple-darker) 0 0 2em;
	transition: var(--guyra-transition);
}

@media (min-width: 980px) {

  .prices-container {
    flex-direction: row;
  }

  .col.prices {
  	width: calc(8rem + 15vw);
  }

  .col.prices.primary {
  	width: calc(10rem + 15vw);
  }

  .col.prices .card:hover,
  .col.prices:nth-child(1) .card:hover,
  .col.prices:nth-child(3) .card:hover {
  	z-index: 3;
  	box-shadow: rgba(0,0,0,0.5) 0 0 2em;
  	transition: var(--guyra-transition);
  	position: relative;
  	transform: scale(1.02);
  }

  @keyframes prices-left-popforward {
      from { left: 0%; }
      to{ left: 5%; }
  }

  @keyframes prices-right-popforward {
      from { left: 0%; }
      to{ left: -5%; }
  }

  .col.prices:nth-child(1) .card:hover { animation: prices-left-popforward 0.35s; left: 5%; }
  .col.prices:nth-child(3) .card:hover { animation: prices-right-popforward 0.35s; left: -5%; }

} /* responsive */

.prices.primary .card {
	height: 105%;
	top: -5%;
  box-shadow: var(--guyra-purple-darker) 0 0 1em;
}

.prices .card .card-body {
	flex: 1 1 auto;
	padding: 1.5rem 2rem;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
}

.prices .features li {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: var(--guyra-fonts-textsize-s);
	text-align: left;
	margin: 0 5px 5px 0;
}

.prices .features li span:first-child { margin-right: 5px; }

#contact-modal .modal-content {
	background: var(--guyra-blue-purple-gradient);
	padding: 3px;
	border: none;
}

#contact-modal .modal-header,
#contact-modal .modal-footer,
#contact-modal .modal-body {
	background-color: var(--guyra-white);
}


a, a:visited {
	color: var(--guyra-blue);
}

a:hover {
	color: var(--guyra-blue-lighter);
}

.text-primary { color: var(--guyra-blue) !important; }

.text-secondary { color: var(--guyra-purple-darker) !important; }

.border-primary { border-color: var(--guyra-blue) !important;}

.border-secondary { border-color: var(--guyra-purple-darker) !important; }

.bg-primary { background-color: var(--guyra-blue) !important; }

.bg-secondary { background-color: var(--guyra-purple-darker) !important; }

/*
* -------- Buttons
*
*
*
*/

.btn-wa {
	border-color: #25D366 !important;
	color: #25D366 !important;
}

.btn-wa:hover {
	color: var(--guyra-white) !important;
	background-color: #25D366 !important;
}

.btn-primary,
.dropdown-item.active,
.dropdown-item:active,
.page-squeeze #user-registration.user-registration.horizontal .user-registration-MyAccount-navigation ul .user-registration-MyAccount-navigation-link.is-active > a {
	background-color: var(--guyra-blue) !important;
	border-color: var(--guyra-blue) !important;
	color: var(--guyra-white) !important;
}

.btn-primary:hover,
.page-squeeze #user-registration.user-registration.horizontal .user-registration-MyAccount-navigation ul .user-registration-MyAccount-navigation-link.is-active > a:hover {
  background-color: var(--guyra-blue-lighter) !important;
	border-color: var(--guyra-blue-lighter) !important;
}

.btn,
button, input[type="button"], input[type="reset"], input[type="submit"],
.page-squeeze #user-registration.user-registration.horizontal .user-registration-MyAccount-navigation ul .user-registration-MyAccount-navigation-link > a,
.page-squeeze #user-registration .ur-frontend-form input.button,
.page-squeeze .user-registration-error > a,
.page-squeeze .user-registration-info > a,
.page-squeeze .user-registration-message > a
{
  color: var(--guyra-black);
  font-weight: normal;
  text-decoration: none;
  padding: calc(.15rem + .1vw) calc(.25rem + .2vw);
  border-radius: var(--guyra-border-radius);
  border: 1px solid transparent;
  background: var(--guyra-white);
  font-size: var(--guyra-fonts-textsize-n);
  transition: none;
}

.btn:hover,
button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover,
.page-squeeze #user-registration.user-registration.horizontal .user-registration-MyAccount-navigation ul .user-registration-MyAccount-navigation-link > a:hover,
.page-squeeze #user-registration .ur-frontend-form input.button:hover,
.page-squeeze .user-registration-error > a:hover,
.page-squeeze .user-registration-info > a:hover,
.page-squeeze .user-registration-message > a:hover
{
  color: var(--guyra-grey-darkest);
  background: var(--guyra-grey);
  border: 1px solid transparent;
  padding: calc(.15rem + .1vw) calc(.25rem + .2vw);
  font-weight: normal;
  transition: var(--guyra-transition);
}

.hover-pop:hover,
.btn:hover,
button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover,
.btn-primary:hover,
.btn-outline-primary:hover,
.page-squeeze #user-registration.user-registration.horizontal .user-registration-MyAccount-navigation ul .user-registration-MyAccount-navigation-link > a:hover,
.page-squeeze #user-registration .ur-frontend-form input.button:hover,
.page-squeeze .user-registration-error > a:hover,
.page-squeeze .user-registration-info > a:hover,
.page-squeeze .user-registration-message > a:hover
{
	transform: scale(1.05);
	opacity: 80%;
	transition: var(--guyra-transition);
  z-index: 2;
  position: relative;
}

.hover-pop:active,
.btn:active,
button:active, input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active,
.btn-primary:active,
.btn-outline-primary:active
.page-squeeze #user-registration.user-registration.horizontal .user-registration-MyAccount-navigation ul .user-registration-MyAccount-navigation-link > a:active,
.page-squeeze #user-registration .ur-frontend-form input.button:active,
.page-squeeze .user-registration-error > a:active,
.page-squeeze .user-registration-info > a:active,
.page-squeeze .user-registration-message > a:active
{
	transform: scale(0.95);
	box-shadow: unset;
}

.btn-sm,
.page-squeeze .user-registration-error > a,
.page-squeeze .user-registration-info > a,
.page-squeeze .user-registration-message > a {
  font-weight: normal;
  font-size: var(--guyra-fonts-textsize-s);
}

.btn-primary:focus,
.btn-check:focus+.btn-outline-primary,
.btn-outline-primary:focus {
	box-shadow: unset;
}

.btn-outline-primary  {
	color: var(--guyra-blue);
	border-color: var(--guyra-blue) !important;
	border: 1px solid;
	background-color: transparent;
}

.btn-outline-primary:hover,
.btn-outline-primary:active  {
    color: var(--guyra-white);
    background-color: var(--guyra-blue);
    border-color: var(--guyra-blue);
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: var(--guyra-grey-darker);
  border-color: var(--guyra-grey-darker) !important;
}

.page-squeeze .list-group.study-menu {
  margin-bottom: calc(2vh + .25rem);
  justify-content: center;
}

.study-menu .menu-icon img {
  width: calc(.7rem + 1.5vw);
  margin-right: calc(.1rem + .5vw);
  max-width: unset;
}

.page-squeeze .list-group.study-menu .list-group-item,
.lost_password a,
.page-squeeze #user-registration .ur-frontend-form input[value="Login"].button,
.ur-frontend-form .ur-button-container .ur-submit-button {
  color: var(--guyra-blue);
  font-size: var(--guyra-fonts-textsize-n);
  border: 0 !important;
  border-bottom: calc(0.2rem + .05vw) solid var(--guyra-grey-dark) !important;
  background: var(--guyra-grey);
  display: flex;
  align-items: center;
  text-decoration: none;
}

.page-squeeze .list-group.study-menu .list-group-item:hover,
.lost_password a:hover,
.ur-frontend-form .ur-button-container .ur-submit-button:hover {
  background: var(--guyra-grey-dark);
  border-bottom-color: var(--guyra-grey-darker) !important;
}

.page-squeeze .list-group.study-menu .list-group-item.active,
.page-squeeze .list-group.study-menu .list-group-item[aria-expanded="true"],
.page-squeeze #user-registration .ur-frontend-form input[value="Login"].button {
  border-bottom-color: var(--guyra-blue-darker) !important;
  background-color: var(--guyra-blue) !important;
    color: var(--guyra-white);
}

.page-squeeze .list-group.study-menu .list-group-item.active:hover,
.page-squeeze #user-registration .ur-frontend-form input[value="Login"].button:hover {
  background: var(--guyra-blue-darker) !important;
  border-bottom-color: var(--guyra-blue-darkest) !important;
}

@media (max-width: 766px) {

  .study-menu .menu-icon img {
    width: calc(1.3rem + 2vw);
    margin: calc(.2rem + .2vw);
  }

  .study-menu .menu-title {
    display: none;
  }

}

/*
* -------- Exercise
*
*
*/

.exercise-squeeze .loading {
  display: flex;
  justify-content: center;
}

.exercise-squeeze .loading img {
  width: calc(3rem + 3vw);
}

.exercise-dialog {
	border: .25rem solid var(--guyra-black);
	border-radius: 2rem 2rem 2rem 0;
	padding: 2rem;
	font-size: var(--guyra-fonts-textsize-x);
	font-family: "Komika";
  box-shadow: var(--guyra-box-shadow-bigger);
}

.exercise-hints,
#exercise-container .exercise-answers-wordbank .btn {
  border-bottom: calc(0.2rem + .05vw) solid var(--guyra-grey-dark);
}

#exercise-container .exercise-answers-wordbank .btn {
	color: var(--guyra-white);
	background-color: var(--guyra-grey-darkest);
  border-bottom-color: var(--guyra-black);
	border-radius: 1.2em;
	box-shadow: none;
	cursor: pointer;
	display: inline-block;
	font-size: var(--guyra-fonts-textsize-n);
	padding: .667em 1.333em;
	text-align: center;
	text-decoration: none;
	margin: .25rem;
	margin-top: 1rem;
}

#exercise-container .exercise-squeeze .btn.btn-correct {
	background-color: var(--guyra-green);
	transition: var(--guyra-transition);
}

.exercise-answers,
.exercise-answers textarea {
  height: 150px;
}

.exercise-answers-wordbank {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  height: max-content;
}

.exercise-answers-wordbank .btn {
  flex-grow: 1;
}

.control-area {
  display: flex;
  justify-content: space-between;
}

.exercise-hints {
  height: 5rem;
  margin-bottom: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--guyra-border-radius);
}

.exercise-hints.info {
  background: var(--guyra-blue-lightest);
  border-bottom-color: var(--guyra-blue-lighter);
}

.exercise-hints.correct {
  background: var(--guyra-green-lightest);
  border-bottom-color: var(--guyra-green-lighter);
}

.exercise-hints.wrong {
  background: var(--guyra-red-lightest);
  border-bottom-color: var(--guyra-red-lighter);
}

.exercise-hints .btn-success {
  background-color: var(--guyra-green) !important;
  border-color: var(--guyra-green) !important;
}

.exercise-hints .btn-danger {
  background-color: var(--guyra-red) !important;
  border-color: var(--guyra-red) !important;
}

.exercise-level-chooser .section {
  display: flex;
  margin-bottom: calc(1rem + .5vw);
  justify-content: center;
}

.exercise-level-chooser .section .btn {
  flex-grow: 0;
  border-radius: 5rem;
  color: var(--guyra-blue-lighter);
  border: 3px  var(--guyra-blue-lighter) solid;
  padding: calc(.25rem + 1vw);
  margin: 0 calc(.15rem + .7vw);
  font-size: var(--guyra-fonts-textsize-n);
  box-shadow: var(--guyra-box-shadow);
}

.exercise-level-chooser .section .btn:hover {
  box-shadow: var(--guyra-box-shadow-bigger);
}

.exercise-icon > img {
  max-width: calc(1.5rem + 1.5vw);
  margin-right: calc(.1rem + .1vw);
}

/*
* -------- Courses
*
*
*/

a.element-container,
a.element-container:visited {
  color: var(--guyra-black);
  text-decoration: none !important;
}

.element-container:hover {
  cursor: pointer;
}

.element-container .element-picture img {
	width: 150px;
	height:  150px;
	margin: 0;
	padding: 0;
	max-width: unset;
}

/*
* -------- Admin Panel
*
*
*/

#collapse-admin {
  font-family: var(--bs-font-sans-serif);
  font-size: var(--guyra-fonts-textsize-ss);
}

#collapse-admin h1,
#collapse-admin h2,
#collapse-admin h3,
#collapse-admin h4,
#collapse-admin h5,
#collapse-admin h6 {
  font-family: var(--bs-font-sans-serif);
}

/*
* -------- Wordpress
*
*
*/

.page-squeeze .post, .page-squeeze .page { margin: 0; }

.page-squeeze {
	box-shadow: var(--guyra-box-shadow-bigger);
}

.page-squeeze .study-answers .comment-list {
	list-style: none;
}

.page-squeeze .comment-meta {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

.page-squeeze #comment,
.page-squeeze .comment-content,
#exercise-answer-textarea {
    border-radius: var(--guyra-border-radius);
    border: .2rem solid #ddd !important;
    background: #f9f9f9;
    padding: 1rem;
    font-family: var(--guyra-fonts-text);
    font-size: var(--guyra-fonts-textsize-n);
    margin-bottom: 1.5em;
}

.page-squeeze .comment-content > p { margin: 0; }

.page-squeeze #comment,
#exercise-answer-textarea {
  width: 100%;
  height: 15rem;
}

.page-squeeze #comment:focus-visible,
#exercise-answer-textarea:focus-visible {
    border: .2rem solid #bdbdbd !important;
    background: #f5f5f5;
    outline: none;
}

.page-squeeze .comment-form .form-submit {
  margin: 0;
  text-align: right;
}

.page-squeeze .comment-body div.reply { display: none; }

.page-squeeze > div {
	background: #fff;
	padding: 2vw;
}

.page-squeeze article .entry-title,
.archive .page-squeeze article .entry-title:hover {
	font-size: var(--guyra-fonts-textsize-super);
	background-image: url(./assets/img/marker.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
	margin-bottom: 1rem;
}

@media (max-width: 1366px) {
	.page-squeeze article .entry-title,
	.archive .page-squeeze article .entry-title:hover {
		font-size: 36px;
	}
}

.archive .page-squeeze .entry-title {
	background-position: -100em;
}

.page-squeeze .entry-title a {
	text-decoration: none;
	color: var(--guyra-black);
}

.page-squeeze .entry-meta {
	font-size: 1.25rem;
}

.page-squeeze .entry-footer span {
	font-size: 1rem;
	margin-right: 1rem;
	padding: 1rem;
	border-bottom: var(--guyra-blue) 2px dashed;
	display: none;
}

.gradient-button a {
	background: var(--guyra-blue-purple-gradient);
	color: var(--guyra-white);
	border: var(--guyra-grey) 2px solid;
}

/*
* -------- User Registration
*
*
*/

.page-squeeze #user-registration,
.page-squeeze #user-registration.horizontal,
.page-squeeze .ur-frontend-form fieldset,
.page-squeeze #user-registration .user-registration-MyAccount-content .user-registration-profile-fields__field-wrapper,
.page-squeeze .ur-frontend-form .ur-form-row .ur-form-grid,
.page-squeeze #user-registration .user-registration-MyAccount-content
{
	border: unset !important;
	box-shadow: unset !important;
	margin: 0 !important;
  padding: 0 !important;
  text-align: left !important;
}

.page-squeeze #user-registration p {
  color: var(--guyra-black);
}

.page-squeeze .ur-frontend-form {
  margin: 0 calc(1rem + 5vw) !important;
  padding: 0 !important;
  background: unset !important;
  box-shadow: unset !important;
  border: unset !important;
  font-family: var(--guyra-fonts-text);
}

.page-squeeze .ur-frontend-form legend {
  margin-bottom: calc(1rem + 1vw) !important;
  font-size: var(--guyra-fonts-textsize-s) !important;
}

.page-squeeze .ur-frontend-form label {
  margin: .5rem 0 !important;
  font-size: var(--guyra-fonts-textsize-ss) !important;
}

.page-squeeze #user-registration .user-registration-MyAccount-content .edit-password legend,
.page-squeeze #user-registration .user-registration-MyAccount-content h2 {
  font-family: var(--guyra-fonts-title);
  font-size: var(--guyra-fonts-textsize-xx);
  font-weight: 900;
}

.page-squeeze .ur-frontend-form input:not(.button),
.page-squeeze .user-registration-message,
.page-squeeze .user-registration-error,
.page-squeeze .user-registration-info {
  padding: .5rem !important;
  font-size: var(--guyra-fonts-textsize-n);
  color: var(--guyra-black);
  font-family: var(--guyra-fonts-text);
  border: unset;
  background: var(--guyra-grey);
  border-radius: var(--guyra-border-radius) !important;
  border-bottom: calc(0.2rem + .05vw) solid var(--guyra-grey-dark) !important;
}

.page-squeeze .ur-frontend-form .ur-form-grid .ur-field-item {
  padding: 0 .15rem;
}

.page-squeeze #user-registration .user-registration-message,
.page-squeeze #user-registration .user-registration-error,
.page-squeeze #user-registration .user-registration-info {
	font-size: var(--guyra-fonts-textsize-s);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: .5rem !important;
}

.page-squeeze #user-registration .premium-badge {
	padding: 0.1rem 0.3rem;
	font-size: 0.7rem;
	align-self: center;
	cursor: default;
}

.page-squeeze .ur-profile-picture { border-radius: 50%; }

.page-squeeze #user-registration .user-registration-MyAccount-navigation {
	margin-bottom: 3rem;
}

.page-squeeze #user-registration .ur-edit-profile,
.page-squeeze #user-registration .user-registration-MyAccount-content,
.page-squeeze #user-registration.horizontal .ur-edit-profile,
.page-squeeze #user-registration.horizontal .user-registration-MyAccount-content {
	text-align: left;

}

.page-squeeze #user-registration .user-registration-MyAccount-navigation ul,
.page-squeeze #user-registration.horizontal .user-registration-MyAccount-navigation ul {
	justify-content: left;
}

.page-squeeze #user-registration .user-registration-MyAccount-navigation,
.page-squeeze #user-registration.horizontal .user-registration-MyAccount-navigation {
	border: unset;
}

.lost_password a {
  justify-content: center;
  display: inline-flex;
  padding: calc(.15rem + .1vw) calc(.25rem + .2vw);
  border-radius: var(--guyra-border-radius);
}

.page-squeeze #user-registration .ur-frontend-form input[value="Login"].button,
.page-squeeze #user-registration .ur-frontend-form input[value="Login"].button:hover,
.ur-frontend-form .ur-button-container .ur-submit-button,
.ur-frontend-form .ur-button-container .ur-submit-button:hover {
  transform: none;
  transition: unset;
  float: none;
  display: flex;
  width: 100%;
  justify-content: center;
}

/*
* -------- Misc
*
*
*/

.btn-check:active + .btn-primary:focus, .btn-check:checked + .btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show > .btn-primary.dropdown-toggle:focus,
.btn-check:active + .btn-outline-primary:focus, .btn-check:checked + .btn-outline-primary:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus, .btn-outline-primary:active:focus {
    box-shadow: unset;
}

a[href="#collapse-admin"] { opacity: 0; }

a[href="#collapse-admin"]:hover { opacity: inherit;; }

body:not(.wp-admin) #wpadminbar { position: absolute !important; display: none !important; }
