@media (min-width: 768px) {
  .account-plans {
    position: -webkit-sticky;
    position: sticky;
    top: calc(var(--guyra-navbar-size) + 1rem);
  }
}

@media (max-width: 767px) {
  .payment-checkout-wrapper {
    position: fixed;
    bottom: 4.5rem;
    left: 0;
    z-index: 1050;
  }
}
