@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}}

@keyframes fadeout {
  from {opacity: 1;}
  to {opacity: 0;}}

@keyframes pulse {
  0% {opacity: 1;}
  50% {opacity: .5;}
  100% {opacity: 1;}
}

@keyframes slideup {
  from {
    transform: translateY(5rem);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slidedown {
  from {
    transform: translateY(-5rem);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slideleft {
  from {
    transform: translateX(5rem);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slideright {
  from {
    transform: translateX(-5rem);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes pop {
  from {
    transform: scale(0.75);
    filter: blur(1px);
    opacity: 0;
  }

  to {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes overpop {
  0% {
    transform: scale(0.75);
    opacity: 0;
  }

  75% {
    transform: scale(1.05);
    opacity: .9;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }

  99% {
    transform: rotateY(90deg);
  }

  100% {
    transform: rotateY(0deg);
  }
}

@keyframes itemAdd {

  0% {
    position: relative;
    top: 0;
    right: 0;
    z-index: 1080;
    opacity: 1;
  }

  65% {
    opacity: 1;
    top: -10vh;
    right: 0;
  }

  70% {
    opacity: 1;
  }

  100% {
    position: relative;
    top: -30vh;
    right: -10vw;
    z-index: 1080;
    opacity: 0;
  }

}

@keyframes shake {
  1%, 9% {
    transform: translate3d(-1px, 0, 0);
  }

  2%, 8% {
    transform: translate3d(2px, 0, 0);
  }

  3%, 5%, 7% {
    transform: translate3d(-4px, 0, 0);
  }

  4%, 6% {
    transform: translate3d(4px, 0, 0);
  }

  10%, 100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

/* Pops */
.pop-animation.animate {
  animation: pop 0.35s;
}

.overpop-animation.animate {
  animation: overpop 0.35s;
}

/* Slides */
.slidedown-animation.animate {
  animation: fadein 0.25s, slidedown 0.5s;
}

.slideleft-animation.animate {
  animation: fadein 0.25s, slideleft 0.5s;
}

.slideright-animation.animate {
  animation: fadein 0.25s, slideright 0.5s;
}

/* Fades */
.fade-animation.animate {
  animation: fadein 0.25s, slideup 0.5s;
}

.justfade-animation.animate {
  animation: fadein 0.35s;
}

.justfadeout-animation {
  animation: fadeout 0.35s;
  opacity: 0;
}

/* Flips */
.flip-animation {
  animation: flip 0.35s;
  transform-style: preserve-3d;
}

/* Other */
.itemAdd-animation {
  opacity: 0;
  animation: itemAdd 1s;
}

.attention-call-animation {
  animation: shake 5s;
  animation-iteration-count: infinite;
}

.float-animation {
  animation: float 6s ease-in-out infinite;
  animation-iteration-count: infinite;
}

/* Common */

.perspective {
  perspective: 500px;
}

.animate {
  transition: var(--guyra-transition);
}

.no-animate {
  animation: none !important;
  transition: none !important;
}

.animate.fast {
  animation-duration: .1s;
}

.animate.reverse {
  animation-direction: reverse;
}

i.ri-more-fill,
.glow {
  transition: var(--guyra-transition);
  animation: pulse 0.75s;
  animation-iteration-count: infinite;
}

/* UserHomePage activities hover animation */

#activities .btn-tall {
  flex-grow: 1;
  box-shadow: none;
  z-index: inherit;
  max-width: 38%;
}

#activities .btn-tall:first-of-type {
  flex-grow: 5;
  /* box-shadow: var(--guyra-box-shadow-material); */
  z-index: 1001;
}

#activities:hover .btn-tall:first-of-type {
  flex-grow: 1;
  box-shadow: none;
  z-index: inherit;
}

#activities:hover .btn-tall:hover {
  flex-grow: 3;
  /* box-shadow: var(--guyra-box-shadow-material); */
  z-index: 1001;
}

/* Exercises level selector buttons */

.exercise-level-chooser .section .button-wrapper:hover .btn {
  box-shadow: var(--guyra-box-shadow-material);
  transform: scale(1.1);
  text-shadow: 1px 1px 0 var(--guyra-white), 2px 2px 0 var(--guyra-white), 3px 3px 0 var(--guyra-white);
}

.exercise-level-chooser .section .button-wrapper:hover .exercise-icon img,
#activities:hover .btn-tall:hover img {
  transform: scale(1.5) translateY(-.5rem);
  transition: var(--guyra-transition);
  position: relative;
}

.exercise-level-chooser .section .button-wrapper:hover .level-name {
  transform: scale(1.25) translateY(.5rem);
}

.exercise-level-chooser .section .button-wrapper:first-of-type:hover .exercise-icon img {
  transform: rotate(-5deg) scale(1.5) translateY(-.5rem);
}

.exercise-level-chooser .section .button-wrapper:last-of-type:hover .exercise-icon img {
  transform: rotate(5deg) scale(1.5) translateY(-.5rem);
}

.exercise-level-chooser .section .button-wrapper:active .exercise-icon img {
  transform: scale(1) !important;
  transition: unset;
}