.blog .post {
    background: var(--guyra-white);
}

.blog .post .entry-header {
  padding: 5rem;
  margin: 0;
  justify-content: center;
  height: 50vh;
  background: var(--guyra-blue);
  color: var(--guyra-white);
  display: flex;
  align-content: center;
  align-items: center;
}

.blog .post .entry-title {
    font-size: var(--guyra-fonts-textsize-super);
    overflow-x: initial;
}

.post-thumbnail {
  display: flex;
  justify-content: center;
}

.post-thumbnail > img {
    height: auto;
    max-width: 100%;
}

.blog .post .entry-content {
  margin-top: 5rem;
  text-align: justify;
  font-size: calc(var(--guyra-fonts-textsize-n) - 0.1rem);
}

.blog .post .entry-footer {
  font-size: var(--guyra-fonts-textsize-s);
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blog .entry-content p {
  margin-bottom: var(--guyra-line-height-blog);
}

.blog .entry-content .wp-block-separator {
  margin: 5rem 0;
}

.blog .entry-content ul,
.study-page ul {
  list-style: none;
  padding: 0;
  margin-left: 2rem;
  margin-bottom: var(--guyra-line-height-blog);
}

.blog .entry-content ul li,
.study-page ul li {
  margin-bottom: .25rem;
}

.blog .entry-content ul li::before,
.study-page ul li::before {
  content: "👉";
  margin-right: 1rem;
}

.blog .entry-content .wp-block-preformatted,
.study-page .wp-block-preformatted {
  padding: 1rem;
  background: var(--guyra-grey-dark);
  margin-bottom: var(--guyra-line-height-blog);
}

.blog .entry-content .wp-block-quote,
.study-page .wp-block-quote {
  padding: 3rem 2rem;
  background: var(--guyra-grey);
  font-family: var(--bs-font-sans-serif);
  font-size: var(--guyra-fonts-textsize-n);
  margin-bottom: var(--guyra-line-height-blog);
}

.blog .entry-content .wp-block-quote cite,
.blog .entry-content .wp-block-pullquote cite,
.study-page .wp-block-quote cite,
.study-page .wp-block-pullquote cite {
  font-size: var(--guyra-fonts-textsize-s);
}

.blog .entry-content .wp-block-pullquote,
.study-page .wp-block-pullquote {
  border: solid var(--guyra-grey-darkest);
  border-width: .25rem 0;
  margin-bottom: var(--guyra-line-height-blog);
}

.blog .entry-content .wp-block-table,
.study-page .wp-block-table {
  padding: 3rem;
  margin-bottom: var(--guyra-line-height-blog);
}

.blog .entry-content .wp-block-table tr,
.study-page .wp-block-table tr {
  border-bottom: .25rem solid;
  line-height: 3rem;
}

.blog .entry-content .wp-block-table figcaption,
.study-page .wp-block-table figcaption {
  font-size: var(--guyra-fonts-textsize-sss);
  margin: 1rem 0;
}

.wp-block-verse,
.study-page .wp-block-verse {
  padding: 3rem 2rem;
  background: var(--guyra-grey);
  font-family: var(--guyra-fonts-text);
  font-size: var(--guyra-fonts-textsize-n);
  font-style: italic;
  text-align: center;
  margin-bottom: var(--guyra-line-height-blog);
}

.wp-block-embed iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}

.wp-block-image img,
.wp-block-media-text img {
  max-width: 100%;
  height: auto;
  image-rendering: auto;
}

.wp-block-columns {
  display: flex;
  align-content: center;
  justify-content: center;
}

.page-squeeze article .entry-title,
.archive .page-squeeze article .entry-title:hover,
.marked {
	font-size: var(--guyra-fonts-textsize-super);
	background-image: url(./assets/img/marker.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
	margin-bottom: 1rem;
}

@media (max-width: 1366px) {
	.page-squeeze article .entry-title,
	.archive .page-squeeze article .entry-title:hover {
		font-size: 36px;
	}
}

@media (max-width: 992px) {
  .page-squeeze .page-content,
	.page-squeeze .entry-content,
	.page-squeeze .entry-summary {
		padding: 0.5rem; margin: 0;
	}
}

.archive .page-squeeze .entry-title {
	background-position: -100em;
}

.page-squeeze .entry-title a {
	text-decoration: none;
	color: var(--guyra-black);
}

.page-squeeze .entry-meta {
	font-size: 1.25rem;
}
