.EasyMDEContainer .CodeMirror,
.editor-toolbar {
  border: 0 !important;
  border-radius: var(--guyra-border-radius-bigger) !important;
}

.markdown table {
  width: 100%;
  margin-bottom: 1rem;
  color: var(--guyra-black);
  vertical-align: top;
  border-color: var(--bs-border-color);
}

.markdown table > :not(caption)>*>* {
  padding: 0.5rem 0.5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}