/*
* -------- Buttons
*/

.dropdown-item.active,
.dropdown-item:focus {
	background-color: var(--guyra-blue);
	border-color: var(--guyra-blue);
	color: var(--guyra-white);
}

.btn:focus:not(.bs) {
	outline: unset;
	box-shadow: unset;
}

.btn:active,
.btn-primary:active,
.btn-outline-primary:active
{
	box-shadow: unset;
}

.study-menu .menu-title {
  margin-left: .25rem;
}

.btn {
  color: var(--guyra-grey-darkest);
}

.btn-tall {
  padding: .7rem 1.5rem;
  border-radius: var(--guyra-border-radius-bigger) !important;
  cursor: pointer;
  color: var(--guyra-blue);
  font-size: var(--guyra-fonts-textsize-ss);
  letter-spacing: .6px;
  text-transform: uppercase;
  font-weight: bold;
  border: 0;
  border-bottom: var(--guyra-border-size) solid var(--guyra-grey-darker);
  background: var(--guyra-grey-dark);
  text-decoration: none;
  transition: var(--guyra-transition);
  border: 0;
  /* background: linear-gradient(170deg, #ffffff, #dbdfe4); */
  background: var(--guyra-white);
  box-shadow:  5px 5px 10px var(--guyra-neumorphic-bottom-color),
              -5px -5px 10px var(--guyra-neumorphic-top-color);
}

.btn-tall:hover {
  /* background: var(--guyra-grey-darker);
  border-bottom-color: var(--guyra-grey-darkest); */
  filter:brightness(0.97);
  cursor: pointer;
}

.btn-tall.btn-sm,
.btn-tall.btn-sm:hover {
  padding: .5rem 1.2rem;
  font-size: var(--guyra-fonts-textsize-sss);
	border-width: 1px;
  border-bottom-width: 2px;
  border-radius: calc(var(--guyra-border-radius-bigger) / 1.4)!important;
  box-shadow:  3px 3px 7px var(--guyra-neumorphic-bottom-color),
              -3px -3px 7px var(--guyra-neumorphic-top-color);
}

.btn-tall.btn-lg {
  padding: 1rem 1.75rem;
  font-size: var(--guyra-fonts-textsize-x);
	border-bottom-width: calc(var(--guyra-border-size) * 1.5);
}

.btn-tall.btn-lg:active:not(.disabled) { top: calc(var(--guyra-border-size) * 1.5); }

.btn-tall.btn-v {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
  border-radius: 1.5rem !important;
  background: unset;
}

.btn-tall.blue,
.btn-tall.active {
  /* border-bottom-color: var(--guyra-blue-darker);
  background-color: var(--guyra-blue);
  background: linear-gradient(145deg, #50c5ec, #44a6c7); */
  border-bottom: 0;
  color: var(--guyra-blue);
}

.btn-tall.purple {
  /* border-bottom-color: var(--guyra-purple-darker);
  background-color: var(--guyra-purple);
  background: linear-gradient(145deg, #5623d8, #481eb6); */
  border-bottom: 0;
  color: var(--guyra-purple);
}

.btn-tall.green {
  /* border-bottom-color: var(--guyra-green-darker);
  background-color: var(--guyra-green);
  background: linear-gradient(145deg, #46da6f, #3bb85e); */
  border-bottom: 0;
  color: var(--guyra-green);
}

.btn-tall.red {
  /* border-bottom-color: var(--guyra-red-darker);
  background-color: var(--guyra-red);
  background: linear-gradient(145deg, #e82000, #c31b00); */
  border-bottom: 0;
  color: var(--guyra-red);
}

.btn-tall.black {
  background-color: var(--guyra-grey-darkest);
  border-bottom-color: var(--guyra-black);
  color: var(--guyra-white);
}

.btn-tall.black:hover {
	background-color: var(--guyra-black);
  border-bottom-color: var(--guyra-blacker);
}

.btn-tall.trans {
  color: var(--guyra-grey-darkest);
  background: transparent;
  border: unset;
}

.navbar .btn-tall.trans {
  box-shadow: unset;
  padding: .5rem .7rem;
}

.btn-tall.trans:hover,
.btn-tall.trans:active,
.btn-tall.trans.active {
  filter: brightness(0.97);
	background-color: var(--guyra-grey);
}

.btn-tall.trans.active:hover {
  color: var(--guyra-black);
  background-color: var(--guyra-grey-darker)
}

.btn-tall.trans.disabled {
  color: var(--guyra-grey-dark);
  border-color: var(--guyra-grey-dark);
}

.btn-tall.trans.green {
  border-color: var(--guyra-green);
  color: var(--guyra-green);
}

.exercise-answers .btn-tall {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin: .25rem;
}

.exercise-answers .exercise-answers-wordbank .btn-tall {
  flex-grow: 0;
}

.btn-close {
  border: 1px solid transparent;
}

/*
* -------- Inputs
*/

.form-control:not(.bs) {
  padding: unset;
	border: unset;
  outline: unset;
  color: unset;
  font-size: unset;
  font-weight: unset;
  line-height: unset;
  background-color: unset;
}

.form-control {
  color: var(--guyra-black);
  background-color: var(--guyra-white);
  border-color: var(--guyra-grey-darker);
}

input.form-control:not(.bs),
.form-control input,
.form-control select {
  padding: .5rem 1rem;
  font-size: var(--guyra-fonts-textsize-n);
  color: var(--guyra-black);
  font-family: var(--guyra-fonts-text);
  border: unset;
  outline: unset;
  background-color: var(--guyra-grey);
  border-radius: var(--guyra-border-radius-bigger);
  width: 100%;
  box-shadow:  5px 5px 10px var(--guyra-neumorphic-bottom-color),
              -5px -5px 10px var(--guyra-neumorphic-top-color);
}

input.form-control:focus:not(.bs),
.form-control input:focus {
  color: var(--guyra-blacker);
  background: var(--guyra-grey);
	border: unset;
  outline: unset;
}

input.form-control:focus-visible,
.form-control input:focus-visible {
	border: unset;
  outline: unset;
}

.form-check-input:checked {
  background-color: var(--guyra-blue);
  border-color: var(--guyra-blue);
}

.form-check-input:focus {
  box-shadow: var(--guyra-box-shadow-outline-onwhite-smaller);
}

img.left-side-image {
  border-top-left-radius: var(--guyra-border-radius-bigger);
  border-bottom-left-radius: var(--guyra-border-radius-bigger);
  max-width: 100%;
}

.study-answers .comment-meta {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

.study-answers .comment-meta .author-name {
  font-weight: bold;
  color: var(--guyra-blue)
}

.study-answers #comment,
#exercise-answer-textarea {
  border-radius: var(--guyra-border-radius);
  border: .2rem solid var(--guyra-grey-darker);
  background: var(--guyra-grey);
  padding: 1rem;
  font-family: var(--guyra-fonts-text);
  font-size: var(--guyra-fonts-textsize-n);
  margin-bottom: 1.5em;
  width: 100%;
  color: var(--guyra-black);
}

.study-answers .comment-content > p { margin: 0; }

.comment-content .download {
  margin: var(--guyra-fonts-textsize-sss);
  display: none;
}

.comment-content .comment-image .download { display: none; }

.comment-content .comment-image:hover .download {
  display: unset;
  transition: var(--guyra-transition);
}

.comment-content img { max-width: 50%; }

.study-answers #comment {
  height: 15rem;
}

.study-answers #comment:focus-visible,
#exercise-answer-textarea:focus-visible {
  outline: none;
}

.study-answers .form-submit {
  margin: 0;
  text-align: right;
  display: flex;
  align-items: center;
}

.dialog-box {
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: var(--guyra-border-radius-bigger);
  background: unset;
  border: 1px solid var(--guyra-grey-dark);
}

/* .dialog-box input.form-control:not(.bs),
.dialog-box .form-control input,
.dialog-box .form-control textarea,
.dialog-box textarea.form-control:not(.bs)
{
  border: 1px solid var(--guyra-grey-darker);
  box-shadow: var(--guyra-box-shadow-smaller);
  background-color: var(--guyra-white);
} */

.dialog-box.info,
.dialog-box.blue {
  /* background: var(--guyra-blue-lightest); */
  border-color: var(--guyra-blue-lighter);
  color: var(--guyra-blue-darkest);
}

.dialog-box.warn,
.dialog-box.red {
  /* background: var(--guyra-red-lightest); */
  border-color: var(--guyra-red-lighter);
  color: var(--guyra-red-darkest);
}

.form-check-input[type=checkbox] {
  padding: var(--guyra-fonts-textsize-sss);
}

button.table {
  width: inherit;
}