:root {
  --guyra-blue: #4bb8dd;
  --guyra-blue-darker: rgb(2 144 191);
  --guyra-blue-darkest: rgb(0 118 157);
  --guyra-blue-lighter: rgba(62, 193, 237, 1);
  --guyra-blue-lightest: rgba(157, 219, 239, 1);

  --guyra-purple: #6c5ac7;
  --guyra-purple-lighter: rgb(184, 161, 240);
  --guyra-purple-darker: rgb(80 33 202);
  --guyra-purple-darkest: rgb(81, 52, 156);

  --guyra-green: #5EEB87;
  --guyra-green-lighter: #7bf79e;
  --guyra-green-lightest: #a5fdbe;
  --guyra-green-darker: #41cc68;
  --guyra-green-darkest: #1db448;

  --guyra-red: rgba(255, 35, 0, 1);
  --guyra-red-lighter: rgba(255, 131, 112, 1);
  --guyra-red-lightest: rgba(255, 176, 164, 1);
  --guyra-red-darker: rgba(217, 30, 0, 1);
  --guyra-red-darkest: rgb(140 31 13);

  --guyra-yellow: rgb(255 235 0);
  --guyra-yellow-lightest: rgb(255 253 179);
  --guyra-yellow-darkest: rgb(155 143 2);

  --guyra-blue-blue-darker-gradient: linear-gradient(0deg, rgb(0 246 255) 0%, rgb(0 147 255) 100%);
  --guyra-blue-purple-gradient: linear-gradient(90deg, var(--guyra-blue) 0%, var(--guyra-purple) 100%);
  --guyra-white-transparent-gradient: linear-gradient(180deg, var(--guyra-white) 0%, rgba(255, 255, 255, 0) 100%);
  --guyra-black-transparent-gradient: linear-gradient(180deg, var(--guyra-black) 0%, rgba(255, 255, 255, 0) 100%);

  --guyra-white: #ffffff;
  --guyra-grey: #e7e7e7;
  --guyra-grey-dark: #dadada;
  --guyra-grey-darker: #bfbfbf;
  --guyra-grey-darkest: #797979;
  --guyra-black: #5a5a5a;
  --guyra-blacker: #3a3a3a;

  --guyra-box-shadow: 0 0 1.5rem rgba(0,0,0, 0.1);
  --guyra-box-shadow-smaller: 0 0 .5rem rgba(0,0,0, 0.1);
  --guyra-box-shadow-bigger: 0 0 1.7rem rgba(0,0,0, 0.17);
  --guyra-box-shadow-material: 0 15px 1rem 3px rgba(0, 0, 0, 17%);
  --guyra-box-shadow-outline: 0 0 0 1rem rgba(255, 255, 255, .33);
  --guyra-box-shadow-outline-smaller: 0 0 0 .33rem rgba(255, 255, 255, .33);
  --guyra-box-shadow-outline-onwhite: 0 0 0 1rem rgba(166, 241, 255, .33);
  --guyra-box-shadow-outline-onwhite-smaller: 0 0 0 .33rem rgba(166, 241, 255, .33);

  --guyra-fonts-text: 'Rubik',var(--bs-font-sans-serif);
  --guyra-fonts-title: 'Campton',var(--bs-font-sans-serif);
  --guyra-fonts-textsize-sss: calc(0.45rem + 0.25vw);
  --guyra-fonts-textsize-ss: calc(0.45rem + 0.35vw);
  --guyra-fonts-textsize-s: calc(0.75rem + 0.15vw);
  --guyra-fonts-textsize-n: calc(0.85rem + 0.5vh);
  --guyra-fonts-textsize-x: calc(0.95rem + 0.8vw);
  --guyra-fonts-textsize-xx: calc(1.5rem + 0.9vw);
  --guyra-fonts-textsize-xxx: calc(2rem + 1vw);
  --guyra-fonts-textsize-super: calc(2.5rem + 2.2vw);

  --guyra-navbar-size: 3.5rem;
  --guyra-line-height-blog: 3rem;
  --guyra-border-radius: calc(.35rem - 1px);
  --guyra-border-radius-bigger: calc(var(--guyra-border-radius) * 5);
  --guyra-border-size: calc(0.15rem + .05vw);
  --guyra-transition: all 0.15s cubic-bezier(1, 0, 0, 1);

  --sat: env(safe-area-inset-top);
  --sar: env(safe-area-inset-right);
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);
}

/*
* -------- Fonts
*/

@font-face {
  font-family: 'Campton';
  src: url('%template_url/assets/fonts/campton_black.woff2') format('woff2'),
       url('%template_url/assets/fonts/campton_black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Campton';
  src: url('%template_url/assets/fonts/campton_bold-webfont.woff2') format('woff2'),
       url('%template_url/assets/fonts/campton_bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Campton';
  src: url('%template_url/assets/fonts/campton_bold_italic-webfont.woff2') format('woff2'),
       url('%template_url/assets/fonts/campton_bold_italic-webfont.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Campton';
  src: url('%template_url/assets/fonts/campton_extrabold-webfont.woff2') format('woff2'),
       url('%template_url/assets/fonts/campton_extrabold-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Campton';
  src: url('%template_url/assets/fonts/campton_extrabold-webfont.woff2') format('woff2'),
       url('%template_url/assets/fonts/campton_extrabold-webfont.woff') format('woff');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('%template_url/assets/fonts/Rubik-Regular.woff2') format('woff2'),
       url('%template_url/assets/fonts/Rubik-Regular.woff') format('woff');
 font-weight: 400;
 font-style: normal;
 font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('%template_url/assets/fonts/Rubik-Black.woff2') format('woff2'),
      url('%template_url/assets/fonts/Rubik-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('%template_url/assets/fonts/Rubik-Bold.woff2') format('woff2'),
      url('%template_url/assets/fonts/Rubik-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Komika';
  src: url('%template_url/assets/fonts/komikask-webfont.woff2') format('woff2'),
       url('%template_url/assets/fonts/komikask-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*
* -------- General
*/

html,
body,
.post {
  border: unset;
	box-shadow: unset;
  margin: 0 !important;
  padding: 0;
}

body {
	font-family: var(--guyra-fonts-text);
	font-size: var(--guyra-fonts-textsize-n);
  color: var(--guyra-black);
  background-color: #e5eaee;
}

h1 { font-size: var(--guyra-fonts-textsize-xxx); font-weight: 900; }
h2 { font-size: var(--guyra-fonts-textsize-xx); }
h3 { font-size: var(--guyra-fonts-textsize-x); }
h4 { font-size: calc(var(--guyra-fonts-textsize-x) - .15rem); }
h5 { font-size: calc(var(--guyra-fonts-textsize-x) - .25rem); }
h6 { font-size: var(--guyra-fonts-textsize-n); }

h1, h2, h3, h4 {
	font-family: var(--guyra-fonts-title);
  font-weight: 800;
  letter-spacing: -.05rem;
	cursor: default;
}

.text-font-title { font-family: var(--guyra-fonts-title); }
.text-font-text { font-family: var(--guyra-fonts-text); }

.text-blue, .text-primary { color: var(--guyra-blue) !important; }
.text-purple, .text-secondary { color: var(--guyra-purple) !important; }
.text-purple-darker { color: var(--guyra-purple-darker) !important; }
.text-green { color: var(--guyra-green); }
.text-red { color: var(--guyra-red); }
.text-black { color: var(--guyra-black) !important; }
.text-grey { color: var(--guyra-grey); }
.text-grey-dark, .text-muted { color: var(--guyra-grey-dark) !important; }
.text-grey-darker { color: var(--guyra-grey-darker); }
.text-grey-darkest { color: var(--guyra-grey-darkest); }

.text-super { font-size: var(--guyra-fonts-textsize-super) !important; }
.text-xxx, .text-largest { font-size: var(--guyra-fonts-textsize-xxx) !important; }
.text-xx, .text-larger { font-size: var(--guyra-fonts-textsize-xx) !important; }
.text-x, large, .text-large { font-size: var(--guyra-fonts-textsize-x) !important; }
.text-n, .text-normal { font-size: var(--guyra-fonts-textsize-n) !important; }
.text-s, small, .text-small { font-size: var(--guyra-fonts-textsize-s) !important; }
.text-ss, .text-smaller { font-size: var(--guyra-fonts-textsize-ss) !important; }
.text-sss, .text-smallest { font-size: var(--guyra-fonts-textsize-ss) !important; }

.fw-bold {
  font-weight: 700!important;
  letter-spacing: -.3px;
}

.capitalize { text-transform: capitalize; }

.text-marked {
  background-image: url('%template_url/assets/img/marker.png');
  background-repeat: no-repeat;
	background-size: contain;
  background-position: bottom;
}

.bg-primary { background-color: var(--guyra-blue) !important; }
.bg-secondary { background-color: var(--guyra-purple) !important; }
.bg-success, .bg-green { background-color: var(--guyra-green) !important; }
.bg-danger, .bg-red { background-color: var(--guyra-red) !important; }
.bg-white { background: var(--guyra-white) !important; }
.bg-grey {background: var(--guyra-grey); }
.bg-grey-darker {background: var(--guyra-grey-darker); }
.bg-grey-darkest {background: var(--guyra-grey-darkest); }
.bg-gradient { background: var(--guyra-blue-purple-gradient); }
.bg-gradient-white { background: var(--guyra-white-transparent-gradient); }

.border-primary { border-color: var(--guyra-blue);}
.border-secondary { border-color: var(--guyra-purple-darker); }
.border-outline { box-shadow: var(--guyra-box-shadow-outline); }
.round-border, a.round-border { border-radius: 50vw !important; }

.page-icon {
  overflow-x: initial;
}

.page-icon > img,
img.page-icon {
	width: calc(2.5vh + 4.5vw + 1rem);
  height: auto;
  overflow: visible !important;
}

img.page-icon.large,
.page-icon.large > img {
  width: calc(10vw + 3.5rem);
}

img.page-icon.larger,
.page-icon.larger > img {
  width: calc(15vw + 5rem);
  padding: calc(1.5vw + .5rem);
}


img.page-icon.medium,
.page-icon.medium > img {
  width: calc(2.5vh + 4.5vw + 3rem);
}

img.page-icon.small,
.page-icon.small > img {
  width: calc(2.5vh + 4.5vw - 1.5vw);
}

img.page-icon.tiny,
page-icon.tiny > img {
  max-width: 32px;
  height: auto;
}

img.page-icon.tinier,
page-icon.tinier > img {
  max-width: 18px;
  height: auto;
}

*.disabled {
  filter: saturate(0);
}

.rounded { border-radius: var(--guyra-border-radius) !important; }
.more-rounded { border-radius: var(--guyra-border-radius-bigger) !important; }

@media (min-width: 768px) {

  .rounded.left {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: var(--guyra-border-radius) !important;
    border-bottom-left-radius: var(--guyra-border-radius) !important;
  }

  .more-rounded.left {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: var(--guyra-border-radius-bigger) !important;
    border-bottom-left-radius: var(--guyra-border-radius-bigger) !important;
  }

}

.no-focus:focus,
.no-focus:focus-visible {
  border: unset;
  outline: unset;
  background: unset;
}

.overflow-x-visible,
.overflow-x-visible * {
  overflow-x: visible!important;
}

ol li::marker {
  color: var(--guyra-grey-darker);
}

.censored {
  filter: blur(50px);
}

.switch {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 2rem;
  height: 1rem;
}

.switch input {
  display: none;
  width: 0;
  height: 0;
}

.slider {
  position: relative;
  display: inline-block;
  width: 2.5rem;
  height: 1.25rem;
  background-color: var(--guyra-grey-dark);
  transition: var(--guyra-transition);
  border-radius: var(--guyra-border-radius);
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.25rem;
  width: 1.25rem;
  background-color: var(--guyra-white);
  transition: var(--guyra-transition);
  box-shadow: 0 0 0 0.25rem var(--guyra-blue-lightest);
  border-radius: var(--guyra-border-radius);
}

input:checked + .slider {
  background-color: var(--guyra-blue);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.avatar {
  border-radius: 50%;
  background-color: var(--guyra-white);
}

.cursor-pointer {
  cursor: pointer;
}

/*
* -------- Navbar
*/

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: var(--guyra-navbar-size);
  box-shadow: var(--guyra-box-shadow);
  background: var(--guyra-white);
  border-radius: var(--guyra-border-radius-bigger);
  margin: 1rem;
  margin-top: .5rem;
  padding: .5rem;
}

.navbar.fixed-bottom {
  height: unset;
  margin-bottom: calc(var(--sab) / 2);
}

.navbar.fixed-bottom .btn-tall {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--guyra-fonts-textsize-ss);
  padding: 0.25rem 0.75rem;
  width: calc(45px + 5vw);
  flex-grow: 1;
  margin: .5rem;
}

.navbar.fixed-bottom.fixed-bottom .btn-tall:active {
  transform: scale(1.1) rotateZ(-7deg);
}

.navbar.fixed-bottom .btn-tall span {
  margin-top: .25rem;
}

.navbar-center-title {
	max-width: 5rem;
}

.navbar-profile {
  width: 100%;
  height: 2rem;
}

.navbar-brand {
  margin: 0;
}

.navbar .navbar-brand img {
	max-width: 3.5rem;
  width: 100%;
}

.dropdown-menu {
  font-size: var(--guyra-fonts-textsize-s);
  padding: 0;
  border-radius: var(--guyra-border-radius-bigger);
  color: var(--guyra-black);
  background-color: var(--guyra-white);
  border: 1px solid var(--guyra-grey);
  box-shadow: 0 25px 25px 0 rgb(0 0 0 / 50%);
}

.dropdown-menu.account-controls {
  min-width: 10rem !important;
}

.dropdown-menu.notifications {
  min-width: calc(19rem + 5vw) !important;
}

.dropdown-menu li:first-child .dropdown-item {
  border-top-left-radius: calc(var(--guyra-border-radius-bigger) - .25rem);
  border-top-right-radius: calc(var(--guyra-border-radius-bigger) - .25rem);
}

.dropdown-menu li:last-child .dropdown-item {
  border-bottom-left-radius: calc(var(--guyra-border-radius-bigger) - .25rem);
  border-bottom-right-radius: calc(var(--guyra-border-radius-bigger) - .25rem);
}

.dropdown-item {
  padding: var(--guyra-fonts-textsize-sss);
  color: var(--guyra-blue);
  font-size: var(--guyra-fonts-textsize-s);
  font-weight: bold;
  display: flex;
  align-items: center;
}

.dropdown-item:hover {
  color: var(--guyra-blue);
}

.navbar-nav li {
  display: flex;
  align-items: center;
}

.nav-pills .nav-link {
  background-color: transparent;
  color: var(--guyra-blue);
  border-radius: var(--guyra-border-radius);
}

.nav-pills .nav-link.active {
  background-color: var(--guyra-blue);
  color: var(--guyra-white);
}

.mobile-top-header {
  padding: 0.75rem 0;
  background-color: var(--guyra-blue);
  color: var(--guyra-white);
  z-index: 1080;
}

.mobile-top-header .avatar {
  width: 32px;
  height: auto;
}

.topbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: calc(var(--guyra-navbar-size) * 0.3);
}

.notepad-element { z-index: 1081; }

#notepad-toggle {
  display: inline-flex;
  padding: 14px;
  min-height: 64px;
  min-width: 64px;
  align-items: center;
  box-shadow: var(--guyra-box-shadow-material);
}

.logged_out #notepad-toggle { display: none; }

#notepad {
  width: calc(15rem + 5vw);
  height: 20rem;
  background: var(--guyra-green-lightest);
  padding: 1rem;
  border-radius: var(--guyra-border-radius-bigger);
  box-shadow: 0 25px 25px 0 rgb(0 0 0 / 50%);
  display: flex;
}

#notepad-text {
  resize: none;
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
}

@media (max-width: 992px) {

	.navbar .nav-rightside {
		margin: 0;
		display: block;
	}

	.navbar-nav li a {
		width: 100%;
	}

  .navbar-profile {
    width: calc(5rem + 5vw);
    margin: 1rem;
  }

  .navbar .profile-item {
    text-align: center;
  }
}

@media (min-width: 992px) {
	.squeeze { max-width: calc(40vw + 25rem); margin: 0 auto; }
	.squeeze-big { max-width: 75vw; margin: 0 auto; }
  .squeeze-small { max-width: calc(20vw + 25rem); margin: 0 auto; }
  .rounded-box { padding: calc(2vw + 1rem) calc(2vw + 2rem); }

  main {
    margin-top: calc(var(--guyra-navbar-size) * 1.5) !important;
  }
}

@media (max-width: 992px) {
	.squeeze { max-width: unset; margin: 0 auto; }
	.squeeze-big { max-width: unset; margin: 0 auto; }
  .squeeze-small { max-width: unset; margin: 0 1rem; }
  .rounded-box { padding: calc(2vw + 1rem) calc(1vw + .5rem); }

  main {
    margin-top: 3rem !important;
    margin-bottom: 5rem !important;
  }

  .logged_in main {
    margin-top: 7rem !important;
    margin-bottom: 20rem !important;
  }
}


/* Cards */

.card {
  border-radius: var(--guyra-border-radius-bigger);
  background: var(--guyra-blue-blue-darker-gradient);
  color: var(--guyra-white);
  border: 0;
  box-shadow: 0 0 15px 5px rgb(0 190 255 / 30%);
}

.card .badge {
  color: unset;
  font-size: var(--guyra-fonts-textsize-s);
}


.card.white {
  background-color: var(--guyra-white);
}

.card.trans {
  background: var(--guyra-grey);
  box-shadow: unset;
  display: inline-flex;
  min-width: calc(8rem + 5vw);
  min-height: calc(5rem + 3vw);
  border: var(--guyra-grey-darker) solid var(--guyra-border-size);
  border-top-width: .15rem !important;
  border-right-width: .15rem !important;
  border-left-width: .15rem !important;
  color: var(--guyra-black);
  padding: .5rem;
}

.card.trans.green { border-color: var(--guyra-green-lighter); color: var(--guyra-green-darkest); background-color: var(--guyra-green-lightest); }
.card.trans.blue { border-color: var(--guyra-blue-lighter); color: var(--guyra-blue-darkest); background-color: var(--guyra-blue-lightest); }
.card.trans.yellow { border-color: var(--guyra-yellow-lighter); color: var(--guyra-yellow-darkest); background-color: var(--guyra-yellow-lightest); }
.card.trans.red { border-color: var(--guyra-red-lighter); color: var(--guyra-red-darkest); background-color: var(--guyra-red-lightest); }

.card.thin {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.card.hoverable:hover {
    box-shadow: 0 5px 15px 7px rgb(0 190 255 / 40%);
}

.card-title {
  background: var(--guyra-white);
  border-radius: var(--guyra-border-radius-bigger);
  color: var(--guyra-blue);
  padding: 1rem 2rem;
  font-size: var(--guyra-fonts-textsize-x)
}

.card-header {
  border: 0;
  background: transparent;
}

.alert {
  border: 0;
  font-size: var(--guyra-fonts-textsize-s);
}

.modal-content {
  box-shadow: var(--guyra-box-shadow-outline);
  border: 0;
  border-radius: var(--guyra-border-radius-bigger);
  font-size: var(--guyra-fonts-textsize-s);
}

.modal-header {
  border: 0;
}

a, a:visited {
	color: var(--guyra-blue);
  text-decoration: underline;
}

a:hover {
	color: var(--guyra-blue-lighter);
  text-decoration: none;
}

.rounded-box {
  background: var(--guyra-white);
  border-radius: var(--guyra-border-radius-bigger);
  margin-bottom: 3rem;
  box-shadow: var(--guyra-box-shadow);
}

progress.progress {
  display: block;
  width: 100%;
  height: 1rem;
  border: unset;
}

progress.progress[value]::-webkit-progress-bar {
  background: none;
  border-radius: var(--guyra-border-radius);
}

progress.progress[value]::-webkit-progress-value {
  background: var(--guyra-green);
  border-radius: var(--guyra-border-radius);
}

progress.progress[value]::-moz-progress-bar {
  background: var(--guyra-green);
  border-radius: var(--guyra-border-radius);
}

.loading {
  display: flex;
  justify-content: center;
}

.loading img {
  width: calc(3rem + 3vw);
}


.check-list li {
  list-style: none;
  position: relative;
  margin-bottom: 1rem;
}

.check-list li::before {
  color: var(--guyra-green);
  content: "\F633";
  font-family: 'bootstrap-icons';
  font-weight: bold;
  position: absolute;
  left: -1.5rem;
}

.check-list li.x::before { content: "\F659"; color: var(--guyra-red); }
.check-list li.exclamation::before { content: "\F63C"; color: var(--guyra-yellow); }

.translatable {
  border-bottom: dashed 2px var(--guyra-grey-darker);
  padding-bottom: 0.2rem;
  cursor: help;
}

.gtooltip {
  font-size: var(--guyra-fonts-textsize-n);
  font-family: var(--guyra-fonts-text);
  display: none;
  background: var(--guyra-black);
  color: var(--guyra-white);
  border-radius: var(--guyra-border-radius);
  padding: 0.1rem 0.5rem;
}

.arrow,
.arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

.arrow {
  visibility: hidden;
}

.arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

.gtooltip[data-show] { display: block; }
.gtooltip[data-popper-placement^='top'] > .arrow { bottom: -4px; }
.gtooltip[data-popper-placement^='bottom'] > .arrow { top: -4px; }
.gtooltip[data-popper-placement^='left'] > .arrow { right: -4px; }
.gtooltip[data-popper-placement^='right'] > .arrow { left: -4px; }

.blurred { filter: blur(20px); }
.tilt-20 { transform: rotateZ(20deg); }

.notifications {
  max-height: 75vh;
  overflow-y: auto;
}

.userpage {
  overflow-x: clip;
}

.userpage a {
  background: var(--guyra-blue-lightest);
  color: var(--guyra-blue-darkest);
  padding: 2px 4px;
}

.userpage img {
  display: block;
  max-width: 100%;
}

.grecaptcha-badge { display: none; }

i.bi { pointer-events: none; }

.divider {
  display: flex;
  align-items: center;
  text-align: center;
}

.divider::after,
.divider::before {
  content: "";
  border: 1px solid var(--guyra-grey);
  flex: 1;
}

.divider:not(:empty)::before {
  margin-right: 0.25em;
}

.divider:not(:empty)::after {
  margin-left: 0.25em;
}