.grammar-reference {
  font-size: var(--guyra-fonts-textsize-s);
}

.grammar-reference > li {
  border: 0;
  background: none;
}

.grammar-reference li ul li:hover .highlight {
  color: var(--guyra-blue);
}

.grammar-reference li:hover .highlight {
  color: var(--guyra-blue-darker);
}

.grammar-reference li ul li:hover .text-muted {
  color: var(--guyra-blue) !important;
}

.grammar-reference .list-group-item+.list-group-item {
  border-top-width: 0;
}

.grammar-reference .list-group-item .list-group-item {
  background: var(--guyra-grey);
}

.grammar-reference .list-group-item {
  border-width: .25rem;
}

span.text-muted {
  font-weight: bold;
  color: var(--guyra-grey-darker) !important;
}

#grammar-regular input,
#grammar-irregular input {
  background: var(--guyra-blue-darkest);
  border: 1px var(--guyra-blue) solid;
  color: var(--guyra-white);
  padding: 0 0.25rem;
  border-radius: var(--guyra-border-radius);
}

.wikitable tr > td:last-child, .wikitable tr > th:last-child { display:none; }
.wikitable i { font-style: normal; }
.wikitable a { text-decoration: none; }
.wikitable {
  overflow: hidden;
  font-size: var(--guyra-fonts-textsize-s);
}

.wikitable dl {
  margin: .25rem;
}

.wikitable dl,
.wikitable dl a {
  color: var(--guyra-grey-dark);
}

.wikitable dl:hover { color: var(--guyra-black); }
.wikitable dl:hover a { color: var(--guyra-blue); }
.wikitable dd {
  font-size: var(--guyra-fonts-textsize-ss);
  margin:0;
}

.the-definition .section {
  margin-bottom: 3rem;
}

.the-definition .floatright,
.the-definition .noprint {
  float: right;
  border-radius: var(--guyra-border-radius-bigger);
  padding: 1rem !important;
  border: 0 !important;
  background: var(--guyra-grey) !important;
  margin-bottom: 1rem;
}

.the-definition .thumb {
  display: none;
}

.the-definition ul {
  list-style: none;
}

.the-definition h2,
.the-definition h3,
.the-definition h4 {
  color: var(--guyra-grey-darker);
}

.the-definition .headword {
  font-size: var(--guyra-fonts-textsize-n);
  font-weight: 900;
}

.the-definition ul > li,
.the-definition ol > li {
  margin-bottom: 2rem;
}

.the-definition td li {
  margin: 0;
}

.the-definition ol > li::marker {
  color: var(--guyra-grey-dark);
}

.the-definition .NavFrame {
  margin-bottom: 2rem;
}

.the-definition h1,
.the-definition h2,
.the-definition h3,
.the-definition h4,
.the-definition h5 {
  margin-bottom: 1rem;
  font-size: var(--guyra-fonts-textsize-xx);
  border-bottom: 1px solid var(--guyra-grey);
}

.the-definition .IPA {
  background: var(--guyra-blue);
  color: var(--guyra-white);
  padding: .25rem;
  border-radius: var(--guyra-border-radius);
}

.the-definition abbr {
  padding: .25rem;
  border-radius: var(--guyra-border-radius);
  text-decoration: none;
  color: var(--guyra-grey-dark);
  text-transform: uppercase;
}

.the-definition .section.Etymology,
.the-definition .section.Derived.terms,
.the-definition .section.Translations,
.the-definition .section.Anagrams {
  font-size: var(--guyra-fonts-textsize-s);
}

.the-definition .section.References,
.the-definition span.interProject,
.the-definition sup.reference,
.the-definition .floatright[role="presentation"],
.the-definition .section > hr,
.the-definition .was-wotd {
  display: none;
}

.the-definition .NavHead {
  font-size: var(--guyra-fonts-textsize-x);
  font-weight: 600;
  margin-bottom: 1rem;
}

.the-definition .term-list,
.the-definition .translations-cell {
  padding: 0;
  margin: 0;
  border-radius: var(--guyra-border-radius-bigger);
}

.the-definition .term-list ul,
.the-definition .translations-cell ul {
  padding: 1rem;
  margin: 0;
}

.the-definition li > ul {
  margin-top: 3rem;
}

.ib-content a,
.Pronunciation sup a {
  color: var(--guyra-blue-lightest);
}

.ib-brac,
.ib-content,
.Pronunciation sup {
  color: var(--guyra-grey-darker);
}

.derivedterms ul {
  display: flex;
  flex-wrap: wrap;
}

.derivedterms ul li {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.the-images img {
  max-height: 15rem;
  border-radius: var(--guyra-border-radius-bigger)
}

.the-images {
  align-items: center;
  overflow-x: auto;
}

.the-definition .metadata {
  border: 0 !important;
  border-radius: var(--guyra-border-radius-bigger);
}

.citation-whole {
  color: var(--guyra-grey-darkest);
}

#the-definition-content .section> ol > li {font-size: var(--guyra-fonts-textsize-n);}

#the-definition-content .section> ol > li ul {
  font-size: var(--guyra-fonts-textsize-s);
  padding: 0;
}
