.schools .user-list {
  margin-bottom: 1rem;
}

.schools .list-group-item {
  font-size: var(--guyra-fonts-textsize-s);
  border: var(--guyra-border-size) solid var(--guyra-grey-dark);
  border-bottom-width: calc(var(--guyra-border-size) * 2);
  background: var(--guyra-grey);
}

.schools .list-group-horizontal>.list-group-item+.list-group-item {
  border-top: var(--guyra-border-size) solid var(--guyra-grey-dark);
}

.schools .user-list > * {
  display: flex;
  align-items: center;
}

.schools .admin-forms input[type="text"] {
  border: unset;
  background: var(--guyra-grey-dark);
  border-radius: var(--guyra-border-radius);
  height: 3rem;
  min-width: 30vw;
}

.editor-inline {
  width: 100%;
  height: 75vh;
}

@media (max-width: 992px) {
  .diary-entry {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--guyra-grey);
    margin: 0;
    padding: 1rem 0 !important;
  }

  .diary-entry > * {
    width: 100%;
    margin-top: 1rem;
  }

  .diary-info {
    display: none;
  }

  .diary-entry .status {
    height: 2rem;
    width: unset;
  }
}


#the-diary > .diary-inner {
    min-height: 15rem;
    transition: var(--guyra-transition);
}

.diary-entries .diary-entry {
    padding: .75rem 0;
    border-bottom: 1px solid var(--guyra-grey);
}

.diary-new-entry {
  margin-top: .5rem;
}

.diary-new-entry input {
  border: unset;
  padding: .5rem 1rem;
  font-size: var(--guyra-fonts-textsize-s);
  color: var(--guyra-black);
  font-family: var(--guyra-fonts-text);
  background: var(--guyra-grey);
  border-radius: var(--guyra-border-radius);
  border-bottom: var(--guyra-border-size) solid var(--guyra-grey-dark);
  margin-right: .25rem;
}

#day-picker {
  border: unset;
  color: var(--guyra-blue);
  text-decoration: underline;
  margin-left: .25rem;
  cursor: pointer;
}

#day-picker:focus-visible {
  border: unset;
  outline: unset;
}

.status {
  text-transform: uppercase;
  cursor: pointer;
}

.date input {
    border: unset;
    color: var(--guyra-black);
}

#newentry-status {
  cursor: pointer;
  max-width: 11rem;
}
