#the-diary > .diary-inner {
    min-height: 15rem;
    transition: var(--guyra-transition);
}

.diary-entries .diary-entry {
    padding: .5rem 0;
    border-bottom: 1px solid var(--guyra-grey);
}

.diary-new-entry {
  margin-top: .5rem;
}

.diary-new-entry input {
  border: unset;
  padding: .5rem 1rem;
  font-size: var(--guyra-fonts-textsize-s);
  color: var(--guyra-black);
  font-family: var(--guyra-fonts-text);
  border: unset;
  background: var(--guyra-grey);
  border-radius: var(--guyra-border-radius);
  border-bottom: var(--guyra-border-size) solid var(--guyra-grey-dark);
  margin-right: .25rem;
}

#day-picker {
  border: unset;
  color: var(--guyra-blue);
  text-decoration: underline;
  margin-left: .25rem;
  cursor: pointer;
}

#day-picker:focus-visible {
  border: unset;
  outline: unset;
}

.status {
  text-transform: uppercase;
  cursor: pointer;
}

.date input {
    border: unset;
    color: var(--guyra-black);
}

#newentry-status {
  cursor: pointer;
  max-width: 11rem;
}

@keyframes pop {
  from {
    transform: scale(0.75);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.pop-animation {
  transition: var(--guyra-transition);
}

.pop-animation.animate {
  animation: pop 0.35s;
}
