<p>Já deu de explicação né? Pra nossa sorte tem muito o que podemos ver com o que aprendemos até aqui.</p>
<p>Pra começar que tal tentarmos falar da nossa rotina e o que fazemos todo dia?</p>
<div class="card d-inline-flex flex-row align-items-center p-3 my-3 ms-3">
  <img src="%home_link/api?get_image=icons/target.png" alt="Praticar">
  <div class="d-flex flex-column align-items-start ms-3">
    <div>
      <span class="me-1">Tarefa:</span><b>Frequencia</b>
    </div>
    <a href="%home_link/practice#unit5" class="btn-tall green">Praticar</a>
  </div>
</div>
<div class="card d-inline-flex flex-row align-items-center p-3 my-3 ms-3">
  <img src="%home_link/api?get_image=icons/target.png" alt="Praticar">
  <div class="d-flex flex-column align-items-start ms-3">
    <div>
      <span class="me-1">Tarefa:</span><b>Rotinas</b>
    </div>
    <a href="%home_link/practice#unit8" class="btn-tall green">Praticar</a>
  </div>
</div>
