<p>Este é o Guyrá. Estamos animados em ter você aqui, e esperamos fazer a diferença na sua vida. Você já deve ter visto que esse mapa vai ser seu guia por todo o nosso conteúdo.
Nem que você não seja um iniciante ainda é bom checar e acompanhar o guia, já que deixamos explicações interessantes por ele todo.</p>
<p>Se você quer começar já no hard pode pular esse primeiro capítulo, mas se quer ir um pouco mais de boa, ou nunca estudou Inglês antes pode continuar aqui.</p>
<p>Nossa primeira tarefa é na area de praticar aqui do site. Se não foi lá ainda é onde temos exercícios interativos, e você pode começar com a atividade Olá.</p>
<div class="card d-inline-flex flex-row align-items-center p-3 my-3">
  <img src="%home_link/api?get_image=icons/target.png" alt="Praticar">
  <div class="d-flex flex-column align-items-start ms-3">
    <div>
      <span class="me-1">Tarefa:</span><b>Olá</b>
    </div>
    <a href="%home_link/practice#unit1" class="btn-tall green">Praticar</a>
  </div>
</div>
<p>E agora que você se familizarizou com as tarefas, vamos ver um vídeo. Não se preocupa, ele é rápido.</p>
<p>A gente vai usar a série "Gramatíca Rápida", onde podemos ver explicações em menos de 10 minutos sobre vários tópicos.</p>
<p>Até aqui já vimos duas partes essenciais do Inglês: o <b>be (is, are, am)</b> e o <b>Present Simple</b>. O <b>be</b> vamos ver em detalhes mais pra frente, então primeiro vamos entender do que se trata o <b>Present Simple</b>.</p>
<div class="card d-inline-flex flex-row align-items-center p-3 my-3">
  <img src="%home_link/api?get_image=icons/online-learning.png" alt="Assistir">
  <div class="d-flex flex-column align-items-start ms-3">
    <div>
      <span class="me-1">Vídeo:</span><b>Present Simple</b>
    </div>
    <a href="%home_link/courses#iW2MXtiGgu4" class="btn-tall green">Assistir</a>
  </div>
</div>
<div class="card d-inline-flex flex-row align-items-center p-3 my-3 ms-3">
  <img src="%home_link/api?get_image=icons/target.png" alt="Praticar">
  <div class="d-flex flex-column align-items-start ms-3">
    <div>
      <span class="me-1">Tarefa:</span><b>Coisas</b>
    </div>
    <a href="%home_link/practice#unit2" class="btn-tall green">Praticar</a>
  </div>
</div>
<p>Ficou com alguma dúvida? Dá uma olhada na nossa <a href="%home_link/reference">área de ultilidades</a>. Lá temos um dicionário e listas de verbos e transformações gramaticais pra te ajudar! E claro, se quiser assistir a explicação de novo você também pode!</p>
<p>É isso por agora, pode ir fazer um intervalo. Quando quiser voltar já pode começar a próxima unidade!</p>
