<p>Uma coisa legal do <b>Present Continuous</b> é que ele faz duas funções: a de presente e a de futuro, dependendo de como a gente usa ele.</p>
<p>Mas, as vezes isso pode ser confuso, então precisamos saber diferenciar qual está sendo usado.</p>
<div class="card d-inline-flex flex-row align-items-center p-3 my-3">
  <img src="%home_link/api?get_image=icons/target.png" alt="Praticar">
  <div class="d-flex flex-column align-items-start ms-3">
    <div>
      <span class="me-1">Vídeo:</span><b>Present Continuous vs Present Simple</b>
    </div>
    <a href="%home_link/courses#D8vsYO64Bvk" class="btn-tall green">Assistir</a>
  </div>
</div>
<p>Agora que temos isso resolvido vamos praticar um pouco esse futuro usando o <b>Present Continuous</b>.</p>
<div class="card d-inline-flex flex-row align-items-center p-3 my-3 ms-3">
  <img src="%home_link/api?get_image=icons/target.png" alt="Praticar">
  <div class="d-flex flex-column align-items-start ms-3">
    <div>
      <span class="me-1">Tarefa:</span><b>Futuro</b>
    </div>
    <a href="%home_link/practice#unit10" class="btn-tall green">Praticar</a>
  </div>
</div>
<div class="card d-inline-flex flex-row align-items-center p-3 my-3 ms-3">
  <img src="%home_link/api?get_image=icons/target.png" alt="Praticar">
  <div class="d-flex flex-column align-items-start ms-3">
    <div>
      <span class="me-1">Tarefa:</span><b>Planos</b>
    </div>
    <a href="%home_link/practice#unit12" class="btn-tall green">Praticar</a>
  </div>
</div>
