<p>Vamos ver um pouco do essencial para começarmos a se expressar.</p>
<p>Vamos começar praticando como falar horas e números.</p>
<div class="card d-inline-flex flex-row align-items-center p-3 my-3 ms-3">
  <img src="%home_link/api?get_image=icons/target.png" alt="Praticar">
  <div class="d-flex flex-column align-items-start ms-3">
    <div>
      <span class="me-1">Tarefa:</span><b>Horas</b>
    </div>
    <a href="%home_link/practice#unit3" class="btn-tall green">Praticar</a>
  </div>
</div>
<p>Lembra daquele <b>Present Simple</b> que a gente viu? O <b>Simple</b> ali significa que é o tempo mais simples que podemos considerar. Vamos ver então que outros tipos de presente a gente tem.</p>
<div class="card d-inline-flex flex-row align-items-center p-3 my-3">
  <img src="%home_link/api?get_image=icons/target.png" alt="Praticar">
  <div class="d-flex flex-column align-items-start ms-3">
    <div>
      <span class="me-1">Vídeo:</span><b>Present Continuous</b>
    </div>
    <a href="%home_link/courses#Ew4Uruyh9Os" class="btn-tall green">Assistir</a>
  </div>
</div>
<div class="card d-inline-flex flex-row align-items-center p-3 my-3 ms-3">
  <img src="%home_link/api?get_image=icons/target.png" alt="Praticar">
  <div class="d-flex flex-column align-items-start ms-3">
    <div>
      <span class="me-1">Tarefa:</span><b>Atividades</b>
    </div>
    <a href="%home_link/practice#unit4" class="btn-tall green">Praticar</a>
  </div>
</div>
<p>E por último, vamos tentar falar um pouco sobre o que é parte da nossa vida: trabalho e lar.</p>
<p>Vamos usar do que aprendemos e por em prática algumas frases uteis no dia a dia.</p>
<div class="card d-inline-flex flex-row align-items-center p-3 my-3 ms-3">
  <img src="%home_link/api?get_image=icons/target.png" alt="Praticar">
  <div class="d-flex flex-column align-items-start ms-3">
    <div>
      <span class="me-1">Tarefa:</span><b>Lar</b>
    </div>
    <a href="%home_link/practice#unit7" class="btn-tall green">Praticar</a>
  </div>
</div>
<div class="card d-inline-flex flex-row align-items-center p-3 my-3 ms-3">
  <img src="%home_link/api?get_image=icons/target.png" alt="Praticar">
  <div class="d-flex flex-column align-items-start ms-3">
    <div>
      <span class="me-1">Tarefa:</span><b>Trabalho</b>
    </div>
    <a href="%home_link/practice#unit8" class="btn-tall green">Praticar</a>
  </div>
</div>
