<p>Já tá se sentindo confiante? Por que deveria! A partir de agora vamos complicar um pouco.</p>
<p>Uma das coisas mais comuns no dia a dia é contar histórias. Pra isso a gente precisa saber falar no passado, então vamos começar por ai.</p>
<div class="card d-inline-flex flex-row align-items-center p-3 my-3">
  <img src="%home_link/api?get_image=icons/target.png" alt="Praticar">
  <div class="d-flex flex-column align-items-start ms-3">
    <div>
      <span class="me-1">Vídeo:</span><b>Simple Past</b>
    </div>
    <a href="%home_link/courses#9tm3XN6ZhQI" class="btn-tall green">Assistir</a>
  </div>
</div>
<div class="card d-inline-flex flex-row align-items-center p-3 my-3 ms-3">
  <img src="%home_link/api?get_image=icons/target.png" alt="Praticar">
  <div class="d-flex flex-column align-items-start ms-3">
    <div>
      <span class="me-1">Tarefa:</span><b>Histórias</b>
    </div>
    <a href="%home_link/practice#unit14" class="btn-tall green">Praticar</a>
  </div>
</div>
