<ul class="nav nav-pills justify-content-around mb-3" id="pills-tab" role="tablist">
  <li class="nav-item" role="presentation">
    <span class="btn-tall active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#grammar-regular" type="button" role="tab" aria-controls="grammar-regular" aria-selected="true">Regular</span>
  </li>
  <li class="nav-item" role="presentation">
    <span class="btn-tall" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#grammar-irregular" type="button" role="tab" aria-controls="grammar-irregular" aria-selected="false">Irregular</span>
  </li>
</ul>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="grammar-regular" role="tabpanel" aria-labelledby="grammar-regular">

    <div class="d-flex flex-column flex-md-row justify-content-around align-items-center mb-3">
      <span class="dialog-box info p-3 more-rounded">Verb: to <input id="verb-input" type="text" value="work" onchange="regularTransform(this.value)" /></span>
      <span class="dialog-box info p-3 more-rounded">Pronoun: <input id="pronoun-input" type="text" value="I" onchange="regularTransform(document.getElementById('verb-input').value)" /></span>
    </div>

    <ul class="grammar-reference list-group">

      <li class="list-group-item">
        <ul class="list-group list-group border-0 m-0">

          <li class="list-group-item d-flex">

            <span class="col-md-3 text-end me-1">
              <span class="text-muted">Simple Past: </span>

            </span>
            <span class="col-md-7">
               <span class="pronoun">I</span> <span class="regular-verb">work</span><span class="highlight">ed</span>.
            </span>
          </li>

          <li class="list-group-item d-flex">
            <span class="col-md-3 text-end me-1">
              <span class="text-muted">Simple Present: </span>
            </span>

            <span class="col-md-7">
               <span class="pronoun">I</span> <span class="highlight"><span class="regular-verb">work</span></span>.
            </span>
          </li>

          <li class="list-group-item d-flex">
            <span class="col-md-3 text-end me-1">
              <span class="text-muted">Simple Future:</span>
            </span>

            <span class="col-md-7">
               <span class="pronoun">I</span> <span class="highlight">will</span> <span class="regular-verb">work</span>/<span class="highlight"><span class="aux">am</span> going to</span> <span class="regular-verb">work</span>.
            </span>

          </li>

        </ul>
      </li>

      <li class="list-group-item">
        <ul class="list-group list-group border-0 m-0">
          <li class="list-group-item d-flex">

            <span class="col-md-3 text-end me-1">
              <span class="text-muted">Past Continuous: </span>
            </span>

            <span class="col-md-7">
              <span class="pronoun">I</span> <span class="highlight"><span class="aux">was</span></span> <span class="regular-verb">work</span><span class="highlight">ing</span>.
            </span>

          </li>

          <li class="list-group-item d-flex">

            <span class="col-md-3 text-end me-1">
              <span class="text-muted">Present Continuous: </span>
            </span>

            <span class="col-md-7">
              <span class="pronoun">I</span> <span class="highlight"><span class="aux">am</span></span> <span class="regular-verb">work</span><span class="highlight">ing</span>.
            </span>

          </li>

          <li class="list-group-item d-flex">

            <span class="col-md-3 text-end me-1">
              <span class="text-muted">Future Continuous:</span>
            </span>

            <span class="col-md-7">
              <span class="pronoun">I</span> <span class="highlight">will be</span> <span class="regular-verb">work</span><span class="highlight">ing</span>/<span class="highlight"><span class="aux">am</span> going to be</span> <span class="regular-verb">work</span><span class="highlight">ing.
            </span>

          </li>

        </ul>
      </li>

      <li class="list-group-item">
        <ul class="list-group list-group border-0 m-0">
          <li class="list-group-item d-flex">

            <span class="col-md-3 text-end me-1">
              <span class="text-muted">Past Perfect: </span>
            </span>

            <span class="col-md-7">
              <span class="pronoun">I</span> <span class="highlight">had</span> <span class="regular-verb">work</span><span class="highlight">ed</span>.
            </span>

          </li>

          <li class="list-group-item d-flex">

            <span class="col-md-3 text-end me-1">
              <span class="text-muted">Present Perfect: </span>
            </span>

            <span class="col-md-7">
              <span class="pronoun">I</span> <span class="highlight"><span class="aux">have</span></span> <span class="regular-verb">work</span><span class="highlight">ed</span>.
            </span>

          </li>

          <li class="list-group-item d-flex">

            <span class="col-md-3 text-end me-1">
              <span class="text-muted">Future Perfect: </span>
            </span>

              <span class="col-md-7">
                <span class="pronoun">I</span> <span class="highlight">will have</span> <span class="regular-verb">work</span><span class="highlight">ed</span>.
              </span>

          </li>

        </ul>
      </li>

      <li class="list-group-item">
        <ul class="list-group border-0 m-0">
          <li class="list-group-item d-flex">

            <span class="col-md-3 text-end me-1">
              <span class="text-muted">Past Perfect Continuous: </span>
            </span>

            <span class="col-md-7">
              <span class="pronoun">I</span> <span class="highlight">had been</span> <span class="regular-verb">work</span><span class="highlight">ing</span>.
            </span>

          </li>

          <li class="list-group-item d-flex">

            <span class="col-md-3 text-end me-1">
              <span class="text-muted">Present Perfect Continuous: </span>
            </span>

            <span class="col-md-7">
              <span class="pronoun">I</span> <span class="highlight">have been</span> <span class="regular-verb">work</span><span class="highlight">ing</span>.
            </span>

          </li>

          <li class="list-group-item d-flex">

            <span class="col-md-3 text-end me-1">
              <span class="text-muted">Future Perfect Continuous: </span>
            </span>

            <span class="col-md-7">
              <span class="pronoun">I</span> <span class="highlight">will have</span> been <span class="regular-verb">work</span><span class="highlight">ing</span>.
            </span>

          </li>

        </ul>
      </li>
    </ul>

  </div>
  <div class="tab-pane fade" id="grammar-irregular" role="tabpanel" aria-labelledby="grammar-irregular">

    <div class="d-flex flex-column flex-md-row justify-content-around align-items-center mb-3">
      <span class="dialog-box info p-3 more-rounded">Verb: to eat</span>
      <span class="dialog-box info p-3 more-rounded">Pronoun: I</span>
    </div>

    <ul class="grammar-reference list-group">

      <li class="list-group-item">
        <ul class="list-group list-group border-0 m-0">

          <li class="list-group-item d-flex">

            <span class="col-md-3 text-end me-1">
              <span class="text-muted">Simple Past: </span>

            </span>
            <span class="col-md-7">
               <span class="pronoun">I</span> <span class="highlight"><span class="irregular-verb">ate</span></span>.
            </span>
          </li>

          <li class="list-group-item d-flex">
            <span class="col-md-3 text-end me-1">
              <span class="text-muted">Simple Present: </span>
            </span>

            <span class="col-md-7">
               <span class="pronoun">I</span> <span class="highlight"><span class="irregular-verb">eat</span></span>.
            </span>
          </li>

          <li class="list-group-item d-flex">
            <span class="col-md-3 text-end me-1">
              <span class="text-muted">Simple Future:</span>
            </span>

            <span class="col-md-7">
               <span class="pronoun">I</span> <span class="highlight">will</span> <span class="irregular-verb">eat</span>/<span class="pronoun">I</span> <span class="highlight">am going to</span> <span class="irregular-verb">eat</span>.
            </span>

          </li>

        </ul>
      </li>

      <li class="list-group-item">
        <ul class="list-group list-group border-0 m-0">
          <li class="list-group-item d-flex">

            <span class="col-md-3 text-end me-1">
              <span class="text-muted">Past Continuous: </span>
            </span>

            <span class="col-md-7">
              <span class="pronoun">I</span> <span class="highlight">was</span> <span class="irregular-verb">eat</span><span class="highlight">ing</span>.
            </span>

          </li>

          <li class="list-group-item d-flex">

            <span class="col-md-3 text-end me-1">
              <span class="text-muted">Present Continuous: </span>
            </span>

            <span class="col-md-7">
              <span class="pronoun">I</span> <span class="highlight">am</span> <span class="irregular-verb">eat</span><span class="highlight">ing</span>.
            </span>

          </li>

          <li class="list-group-item d-flex">

            <span class="col-md-3 text-end me-1">
              <span class="text-muted">Future Continuous:</span>
            </span>

            <span class="col-md-7">
               <span class="pronoun">I</span> <span class="highlight">will be</span> <span class="irregular-verb">eat</span><span class="highlight">ing</span>/<span class="pronoun">I</span> <span class="highlight">am going to be</span> <span class="irregular-verb">eat</span><span class="highlight">ing.
            </span>

          </li>

        </ul>
      </li>

      <li class="list-group-item">
        <ul class="list-group list-group border-0 m-0">
          <li class="list-group-item d-flex">

            <span class="col-md-3 text-end me-1">
              <span class="text-muted">Past Perfect: </span>
            </span>

            <span class="col-md-7">
               <span class="pronoun">I</span> <span class="highlight">had</span> <span class="irregular-verb">eat</span><span class="highlight">en</span>.
            </span>

          </li>

          <li class="list-group-item d-flex">

            <span class="col-md-3 text-end me-1">
              <span class="text-muted">Present Perfect: </span>
            </span>

            <span class="col-md-7">
               <span class="pronoun">I</span> <span class="highlight">have</span> <span class="irregular-verb">eat</span><span class="highlight">en</span>.
            </span>

          </li>

          <li class="list-group-item d-flex">

            <span class="col-md-3 text-end me-1">
              <span class="text-muted">Future Perfect: </span>
            </span>

              <span class="col-md-7">
                 <span class="pronoun">I</span> <span class="highlight">will have</span> <span class="irregular-verb">eat</span><span class="highlight">en</span>.
              </span>

          </li>

        </ul>
      </li>

      <li class="list-group-item">
        <ul class="list-group border-0 m-0">
          <li class="list-group-item d-flex">

            <span class="col-md-3 text-end me-1">
              <span class="text-muted">Past Perfect Continuous: </span>
            </span>

            <span class="col-md-7">
               <span class="pronoun">I</span> <span class="highlight">had been</span> <span class="irregular-verb">eat</span><span class="highlight">ing</span>.
            </span>

          </li>

          <li class="list-group-item d-flex">

            <span class="col-md-3 text-end me-1">
              <span class="text-muted">Present Perfect Continuous: </span>
            </span>

            <span class="col-md-7">
               <span class="pronoun">I</span> <span class="highlight">have been</span> <span class="irregular-verb">eat</span><span class="highlight">ing</span>.
            </span>

          </li>

          <li class="list-group-item d-flex">

            <span class="col-md-3 text-end me-1">
              <span class="text-muted">Future Perfect Continuous: </span>
            </span>

            <span class="col-md-7">
               <span class="pronoun">I</span> <span class="highlight">will have</span> been <span class="irregular-verb">eat</span><span class="highlight">ing</span>.
            </span>

          </li>

        </ul>
      </li>
    </ul>

  </div>
</div>
